#logo {
    width: 600px;
    background: url(../images/logo_landscape.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 189px;
    border: 5px solid gold;
    position: absolute;
    left: 60px;
    top: 60px;
}

body {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    border: 5px solid gold
}

#about-box,
#about-box h1,
#about-box p
#equipment-box,
#equipment-box h1,
#equipment-box p,
#contact-box,
#contact-box h1,
#contact-box p,
#footer h2 {
    color: gold;
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
}

#about-box,
#equipment-box,
#contact-box {
    width: 600px;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    border: 5px solid gold;
}

#about-box {
    top: 450px;
    right: 120px;
}

#equipment-box {
    top: 450px;
    left: 120px;
}

#contact-box {
    top:500px;
    left: 500px
}


#nav {
    width: 300px;
    color: gold;
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    height: 189px;
    border: 5px solid gold;
    position: absolute;
    right: 60px;
    top: 60px;
}

#menu {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 115px;
    display: grid;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#hero-about {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/dumbells_landscape_2400.jpg") no-repeat center center;
}

#hero-equipment {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/equipment_landscape_2400.jpg") no-repeat center center;
}

#hero-contact {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/plates_landscape_2400.jpg") no-repeat center center;
}

#footer {
    background-color: black;
    border-top: 5px solid gold;
    height: auto;
    padding-left: 20px;
}

#socials {
    display: inline-block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 20px;
}

#footer h2 {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
}

#socials li {
    display: inline-block;
    padding-left: 100px;
}

#socials li a i {
    color: gold;
}

@media only screen and (max-width: 1200px) {
    #contact-box{
        left: 300px;
    }
}

@media only screen and (max-width: 1100px) {
    #logo {
        left: 40%;
        width: 54.54%;
        margin-left: -18%;
        aspect-ratio: 3.17 / 1;
        height: auto;
    }


    #nav {
        top: 319px;
        left: 40%;
        width: 54.54%;
        margin-left: -18%;
        height: auto;
    }

    #menu {
        padding-left: 0px;
        padding-top: 0px;
        display: flex;
        justify-content: center;

    }

    #menu li {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    #contact-box{
        left: 200px;
    }
}

@media only screen and (max-width: 900px) {
    #nav {
        top: 280px;
    }

    #menu li {
        margin-right: 30px;
        margin-left: 30px;
    }

    #socials li {
        padding-left: 90px;
    }

    #contact-box{
        left: 180px;
    }
}

@media only screen and (max-width: 850px) {
    #about-box {
        width: auto;
        left: 120px;
        right: 120px;
        top: 450px;
    }

    #equipment-box {
        top: 400px;
        width: auto;
        left: 80px;
        right: 80px;
    }

    #socials li {
        padding-left: 80px;
    }

    #contact-box{
        left: 120px;
        
    }
}

@media only screen and (max-width: 760px) {
    #nav {
        top: 240px;
    }

    #menu li {
        margin-right: 20px;
        margin-left: 20px;
    }

    #about-box {
        top: 400px;
    }

    #equipment-box {
        top: 350px;
    }

    #socials li {
        padding-left: 65px;
    }

    #contact-box{
        left: 100px;
        right: 100px;
        width: auto;
        
    }
}

@media only screen and (max-width: 730px) {
    #logo {
        display: inline-block
    }
}

@media only screen and (max-width: 650px) {
    #nav {
        top: 200px;
    }

    #menu li {
        margin-right: 10px;
        margin-left: 10px;
    }

    #about-box {
        top: 350px;
    }

    #equipment-box {
        top: 300px;
        left: 60px;
        right: 60px;
    }

    #socials li {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #hero-about {
        background: url("../images/dumbells_portrait.jpg") no-repeat center top;
        height: 900px;
    }

    #hero-equipment {
        background: url("../images/equipment_portrait_1200.jpg") no-repeat center top;
        height: 1800px;
    }

    #hero-contact {
        background: url("../images/plates_portrait.jpg") no-repeat center top;
        height: 1800px;
    }

    #about-box {
        width: auto;
        left: 80px;
        right: 80px;
        top: 300px;
    }

    #socials li {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 540px) {
    #nav {
        top: 180px;

    }

    #menu {
        display: grid;
    }

    #menu li {
        margin-right: 10px;
        margin-left: 10px;
    }

    #about-box {
        left: 60px;
        right: 60px;
        top: 320px;
    }

    #equipment-box{
        top: 315px;
    }
}

@media only screen and (max-width: 490px) {
    #nav {
        top: 170px;
    }

    #socials li {
        padding-left: 25px;
    }

    #equipment-box{
        left: 20px;
        right: 20px;
    }

    #contact-box {
        left: 50px;
        right: 50px;
    }
}

@media only screen and (max-width: 400px) {
    #hero-equipment {
        background: url("../images/equipment_portrait_1200cr.jpg") no-repeat center top;
        height: 2000px;
    }
    
    #nav {
        top: 160px;
    }

    #about-box {
        width: auto;
        left: 35px;
        right: 35px;
    }

    #socials li {
        padding-left: 0px;
    }

    #contact-box {
        left: 40px;
        right: 40px;
    }
}

@media only screen and (max-width: 350px) {
    #contact-box {
    left: 20px;
    right: 20px;
    }
}

@media only screen and (max-width: 345px) {
    #hero-equipment {
        background: url("../images/equipment_portrait_1200cr.jpg") no-repeat center top;
        height: 2400px;
    }
}

@media only screen and (max-width: 290px) {
    #hero-equipment {
        background: url("../images/equipment_portrait_1200cr.jpg") no-repeat center top;
        height: 2600px;
    }
}