/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* This sets the dimensions, border and position for the logo Div */
#logo {
    width: 600px;
    height: 189px;
    border: 5px solid gold;
    position: absolute;
    left: 60px;
    top: 60px;
}

/* This sets the dimensions and display setting for the background image */
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* This sets the border arround the page and ensures it is fully visable */
body {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    border: 5px solid gold
}

/* This sets the font family, font color across all of the dialog */
#about-box,
#about-box h1,
#about-box p,
#equipment-box,
#equipment-box h1,
#equipment-box p,
#contact-box,
#contact-box h1,
#contact-box p,
#thanks-box,
#thanks-box h1,
#thanks-box p,
#error-box,
#error-box h1,
#error-box p,
#footer h2 {
    color: gold;
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
}

/* This sets the border and position for Div holding dialog */
#about-box,
#equipment-box,
#contact-box,
#thanks-box,
#error-box {
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    border: 5px solid gold;
}

/* This sets the width of 3 of the Divs holding dialog */
#about-box,
#contact-box,
#error-box {
    width: 600px;
}

/* This sets the width of the Divs holding the thank you message on thanks.html */
#thanks-box {
    width: 400px;
}

/* This centers the thank you message text on thanks.html */
#thanks-box h1,
#thanks-box p {
    text-align: center;
}

/* This sets the position of the Div holding the About Us dialog on index.html */
#about-box {
    top: 350px;
    right: 60px;
}

/* This sets the width and position of the Div holding dialog on equipment.html */
#equipment-box {
    width: 590px;
    top: 350px;
    left: 60px;
}

/* This sets the position of the Div holding dialog and input form on contact.html */
#contact-box {
    top: 450px;
    left: 30%;
}

/* This sets the position of the Div holding dialog on thanks.html and 404.html */
#thanks-box,
#error-box {
    top: 450px;
    left: 22%;
}

/* This sets the width, height, position and styling of the navigation section across the 5 HTML pages*/
#nav {
    z-index: 2;
    width: 300px;
    color: gold;
    background-color: rgba(0, 0, 0, .85);
    display: inline-block;
    height: 189px;
    border: 5px solid gold;
    position: absolute;
    right: 60px;
    top: 60px;
}

/* This sets the styling of the menu across the 5 HTML pages */
#menu {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 115px;
    display: -ms-grid;
    display: grid;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
}

/* This sets the styling of the menu <a> tags across the 5 HTML pages */
#menu a {
    text-decoration: none;
    color: inherit;
}

/* Additional styling of the menu <a> tags across the 5 HTML pages */
#menu a:hover {
    border: 1px gold solid;
}

/* Sets the background for index.html page */
#hero-about {
    height: 1000px;
    width: 100%;
    position: relative;
    background: url("../images/dumbells_landscape_2400.jpg") no-repeat center center;
    background-attachment: fixed;
}

/* Sets the background for equipment.html page */
#hero-equipment {
    height: 1600px;
    width: 100%;
    position: relative;
    background: url("../images/equipment_landscape_2400.jpg") no-repeat center center;
    background-attachment: fixed;
}

/* Sets the background for thanks.html, 404.html and contact.html pages */
#hero-thanks,
#hero-error,
#hero-contact {
    height: 1000px;
    width: 100%;
    position: relative;
    background: url("../images/plates_landscape_2400.jpg") no-repeat center center;
    background-attachment: fixed;
}

/* Sets the position, styling and size of the flexbox on equipment.html */
.flex-gallery {
    background-color: rgba(0, 0, 0, .85);
    top: 350px;
    right: 60px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 700px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

/* This styles the footer across all 5 HTML pages */
#footer {
    background-color: black;
    border-top: 5px solid gold;
    height: auto;
    padding-left: 20px;
}

/* This styles the footer header across all 5 HTML pages */
#footer h2 {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
}

/* This styles the social media links across all 5 HTML pages */
#socials {
    display: inline-block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Additional styling of the social media links across all 5 HTML pages */
#socials li {
    display: inline-block;
    padding-left: 100px;
}

/* This sets the color of the social media link <a> tags across all 5 HTML pages */
#socials li a i {
    color: gold;
}

/* This media query removes two pictures that overflow onto the footer when the screen width reaches 1694px */
@media only screen and (max-width: 1694px) {

    .flex-picture-13,
    .flex-picture-12 {
        display: none;
    }
}

/* This media query removes one picture that overflow onto the footer when the screen width reaches 1672px */
@media only screen and (max-width: 1672px) {
    .flex-picture-11 {
        display: none;
    }
}

/* This media query removes two pictures that overflow onto the footer when the screen width reaches 1527px */
@media only screen and (max-width: 1527px) {

    .flex-picture-9,
    .flex-picture-10 {
        display: none;
    }
}

/* This media query removes two pictures that overflow onto the footer when the screen width reaches 1324px */
@media only screen and (max-width: 1324px) {
    .flex-picture-7,
    .flex-picture-8 {
        display: none;
    }
}

/* This media query removes one picture that overflow onto the footer when the screen width reaches 1297px */
@media only screen and (max-width: 1297px) {
    .flex-picture-6 {
        display: none;
    }
}

/* This media query moves the logo Div from the top left of the screen to a central postion, removes the 
flexbox on the right hand side of the screen to free up space, places the navigation Div under the logo 
in a central position, arranges the links side by side and moves all text boxes to the middle of the 
screen aligned with the logo and navigation Divs when the screen width reaches 1100px */
@media only screen and (max-width: 1100px) {
    #logo {
        left: 40%;
        width: 54.54%;
        margin-left: -18%;
        aspect-ratio: 3.17 / 1;
        height: auto;
    }

    .flex-gallery {
        display: none;
    }

    #nav {
        top: 319px;
        left: 40%;
        width: 54.54%;
        margin-left: -18%;
        height: auto;
    }

    #menu {
        padding-left: 0px;
        padding-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #menu li {
        margin-right: 40px;
        margin-left: 40px;
    }

    #about-box,
    #equipment-box {
        top: 450px;
    }

    #thanks-box {
        width: 53.31%;
    }

    #error-box,
    #contact-box,
    #about-box,
    #equipment-box {
        left: 22%;
        width: 53.61%;
    }
}

/* This media query move the navigation Div up the pages bringing it closer to the logo Div, moves the 
navigation links and social media links closer together and moves the text box on equipment.html up the page 
when the screen width reaches 900px */
@media only screen and (max-width: 900px) {
    #nav {
        top: 280px;
    }

    #menu li {
        margin-right: 30px;
        margin-left: 30px;
    }

    #socials li {
        padding-left: 90px;
    }

    #equipment-box {
        top: 380px;
    }
}

/* This media query increases the width of the text box on equipment.html page allowing it to take up less 
space at the bottom of the page, this media query also moves the social media links in the footer closer 
together when the screen width reaches 850px */
@media only screen and (max-width: 850px) {
    #equipment-box {
        width: auto;
        left: 140px;
        right: 140px;
    }

    #socials li {
        padding-left: 80px;
    }
}

/* This media query moves navigation Div and the text boxes on all 5 HTML pages up the page, it makes the 
social media and menu links closer together when the screen width reaches 760px */
@media only screen and (max-width: 760px) {
    #nav {
        top: 240px;
    }

    #menu li {
        margin-right: 20px;
        margin-left: 20px;
    }

    #about-box {
        top: 400px;
    }

    #equipment-box {
        top: 350px;
        left: 100px;
        right: 100px;
    }

    #socials li {
        padding-left: 65px;
    }

    #thanks-box,
    #error-box,
    #contact-box {
        top: 400px;
    }
}

/* This media query moves the navigation Div up the pages, it moves the menu and social media links closer 
together andmoves the text boxes on equipment.html and index.html up the page when the screen width reaches 
650px */
@media only screen and (max-width: 650px) {
    #nav {
        top: 200px;
    }

    #menu li {
        margin-right: 10px;
        margin-left: 10px;
    }

    #about-box {
        top: 350px;
    }

    #equipment-box {
        top: 300px;
        left: 80px;
        right: 80px;
    }

    #socials li {
        padding-left: 50px;
    }
}

/* This media query changes the backgrounds on all 5 HTML pages, specifying new background heights, makes 
the text box on index.html page wider, moves the text box on the other 4 HTML pages up the page and moves 
the social media links closer together when the screen width reaches 600px */
@media only screen and (max-width: 600px) {
    #hero-about {
        background: url("../images/dumbells_portrait.jpg") no-repeat center top;
        height: 900px;
    }

    #hero-equipment {
        background: url("../images/equipment_portrait_1200.jpg") no-repeat center top;
        height: 1800px;
    }

    #hero-contact,
    #hero-thanks,
    #hero-error {
        background: url("../images/plates_portrait.jpg") no-repeat center top;
        height: 900px;
    }

    #about-box {
        width: auto;
        left: 80px;
        right: 80px;
    }

    #thanks-box,
    #error-box,
    #about-box,
    #contact-box {
        top: 300px;
    }

    #socials li {
        padding-left: 40px;
    }
}

/* This media query moves the navigation Div up the pages, changes the format of the navigation menu, 
it moves the text boxes on all 5 HTML pages up the page and increases the width of 4 of the text boxes 
when the screen width reaches 540px */
@media only screen and (max-width: 540px) {
    #nav {
        top: 180px;
    }

    #menu {
        display: -ms-grid;
        display: grid;
    }

    #about-box {
        left: 60px;
        right: 60px;
        top: 320px;
    }

    #equipment-box {
        top: 315px;
        left: 60px;
        right: 60px;
    }

    #thanks-box {
        top: 350px;
    }

    #error-box,
    #contact-box {
        top: 350px;
        width: auto;
        left: 70px;
        right: 70px;
    }
}

/* This media query moves the navigation Div up the pages, moves the social media links closer together,
it moves the text boxes on 3 HTML pages up the page and increases the width the text box on equipment.html
page when the screen width reaches 490px */
@media only screen and (max-width: 490px) {
    #nav {
        top: 170px;
    }

    #socials li {
        padding-left: 25px;
    }

    #equipment-box {
        left: 40px;
        right: 40px;
    }

    #thanks-box {
        top: 320px;
    }

    #error-box,
    #contact-box {
        top: 320px;
        left: 40px;
        right: 40px;
    }
}

/* This media query increases the width of the text box on equipment.html page when the screen width 
reaches 440px */
@media only screen and (max-width: 440px) {
    #equipment-box {
        left: 20px;
        right: 20px;
    }
}

/* This media query moves the navigation Div up the pages, moves the social media links closer together, 
it moves the text boxes on 3 of the HTML pages up the page, it also increases the width of 3 of the text 
boxes and changes the background on equipment.html page when the screen width reaches 400px */
@media only screen and (max-width: 400px) {
    #hero-equipment {
        background: url("../images/equipment_portrait_1200cr.jpg") no-repeat center top;
        height: 2000px;
    }

    #nav {
        top: 160px;
    }

    #about-box {
        width: auto;
        left: 35px;
        right: 35px;
    }

    #socials li {
        padding-left: 0px;
    }

    #thanks-box {
        top: 310px;
    }

    #error-box,
    #contact-box {
        top: 310px;
        left: 40px;
        right: 40px;
    }
}

/* This media query increases the width of the text boxes on 404.html and contact.html pages when the 
screen width reaches 350px */
@media only screen and (max-width: 350px) {

    #error-box,
    #contact-box {
        left: 20px;
        right: 20px;
    }
}

/* This media query increases the height of the equipment.html page when the screen width reaches 345px */
@media only screen and (max-width: 345px) {
    #hero-equipment {
        height: 2200px;
    }
}